* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	height: 100vh;
}
.flex {
	display: flex;
}
.f-j-s {
	justify-content: space-between;
}
.f-a-c {
	align-items: center;
}
#app {
	height: 100%;
}